<html>

<head>
<meta charset="utf-8">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
	rel="stylesheet">

</head>
<body>
	<div class="container">
		<form action="/pedido/novo" method="POST">
			<label for="titulo">Titulo</label>
			<input name="titulo" placeholder="Titulo do Livro">
			
			<br>
			<label for="autor">Autor</label>
			<input name="autor" placeholder="Autor">
			
		<br>
		<label for="categoria">categoria</label>
			<input name="categoria" placeholder="categoria">
			
			<br>
			<label for="editora">Editora</label>
			<input name="editora" placeholder="Editora">
			
			<br>
			<label for="qtdpagina">Paginas</label>
			<input name="qtdPagina"   placeholder="paginas">
			
			<br>
			<label for="capa">Capa</label>
			<input name="capa" placeholder="Capa">
			
			<br>
			<label for="valor">Valor</label>
			<input name="valor" placeholder="valor">
			
			
			<button type="submit">cadastrar</button>
		</form>
	</div>

</body>