<html>

<head>
<meta charset="utf-8">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
	rel="stylesheet">

</head>

<body>

	<div class="container">
	<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
		<div class="navbar-nav">
			<a class="nav-item nav-link active" href="">Todos</a>
			<a class="nav-item nav-link active" href="">Aguardando</a>
			<a class="nav-item nav-link active" href="">Aprovados</a>
			<a class="nav-item nav-link active" href="">Entegue</a>
		</div>
		<a href="pedido/formulario"><button class="btn btn-outline-secondary my-2 my-sm-0">Novo</button></a>


	</nav>
<h2>Em table</h2>

		<table class="table">
			<thead>
				<tr>
					<th scope="col">Capa</th>
					<th scope="col">Título</th>
					<th scope="col">Autor</th>
					<th scope="col">Preço</th>
					<th scope="col">Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pedido: ${pedidos}">
					<th scope="row"><img th:src="${pedido.capa}" width="100px"></th>
					<td><div th:text="${pedido.titulo}"></div></td>
					<td><div>
							<span th:text="${pedido.autor}">
						</div></td>
					<td><div>
							<span th:text="${#numbers.formatCurrency(pedido.valor)}">
						</div></td>
					<td colspan="2">
					<a href="#" class="btn btn-primary">Editar</a>
					<a href="#" class="btn btn-danger">Excluir</a></td>
				</tr>

			</tbody>
		</table>


<h2>Em Cards</h2>




		<div class="card" th:each="pedido: ${pedidos}">
			<div class="card-header">
				Título: <span th:text="${pedido.titulo}">titulo de algum
					livro 
			</div>

			<div class="card-body">
				<div class="row">
				<div class="col mb-3">
				<div>
						Autor: <span th:text="${pedido.autor}">Machado de assis</span>
					</div>
					<div>
						Categoria: <span th:text="${pedido.categoria}">romance</span>
					</div>
					<div>
						Editora: <span th:text="${pedido.editora}">Letras Brasil</span>
					</div>
					<div>
						qtdPagina: <span>230</span>
					</div>
					<div>
						Valor: <span>35,99</span>
					</div>
					<div>
					<a href="#" class="btn btn-primary">Editar</a>
					<a href="#" class="btn btn-danger">Excluir</a></td>
					</div>
				</div>
				<div class="col">
				<div>
						<img class="img-thumbnail" th:src="${pedido.capa}">
					</div>
				</div>
					 
					
					
				</div>
			</div>
			
		<br>
		</div>

	</div>

</body>
</html>